*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right, #162e52, #6b97c0);
}
#frame-101{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
} 
form{
    width: 420px;
    height: 500px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    background: transparent;
    filter: blur(0.2px);


    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}
#btns img{
    width: 25px;
    place-self: center;
}
#btns button{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(56, 55, 55, 0.835);
    transition: all 0.5s ease-in;
}
#email{
    width: 370px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    height: 45px;
    color: white;
    box-shadow: 0px 10px 20px -18px;
    cursor: pointer;
}
#email:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}  
#email:hover {
    outline: 1px solid lightgrey;
}



.email{
    width: 370px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    height: 45px;
    color: white;
    box-shadow: 0px 10px 20px -18px;
    cursor: pointer;
}
.email:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}  
.email:hover {
    outline: 1px solid lightgrey;
}


.logic-btn{
    width: 370px;
    height: 38px;
    border-radius: 4px;
    background-color: white;
    color: black;
    box-shadow: 0px 10px 20px -18px;
    cursor: grab;
    transition: all 0.3s ease;
}
.logic-btn:hover {
    outline: 1px solid lightgrey;
    transform: scale(1.05) translateX(10px);
}